{% extends "admin_templates/layouts/admin_base.html" %}

{% block content %}


    <form method="POST" enctype="multipart/form-data" action="{% url 'add_subscription_info' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Title</span>
            <input type="text" name="title" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon12">Email</span>
            <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon12">
        </div>

        <div class="img-uploader-content mb-3">
            <input type="submit" name="save" value="Save" class="mt-4 btn btn-primary">
        </div>
    </form>

{% endblock %}

